h1 {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:30 px;
   
    color:black;
}
.container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-areas: "navbar navbar navbar"
        "left main right"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.imgheader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    text-align: center;    
}

.img_gauche {
    float: left;
}

.img_droite {
    float: right;
}

.navbar-brand{
    margin-left: 8%;
    margin-right: 8%;
}

body {
    background-color: #e9d9c4;
   }
  
.body {
   text-align: center; 
  
   background-color: rgb(214, 206, 206);
   
   margin-left: 200px;
   margin-right: 200px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left; 
    grid-column-gap: 40px;
}
.footer {
{
    display: grid;
       grid-template-areas: "text text1 text2"
    "none text3 text4"
    "none text5 none";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-column-gap: 40px;
}
  
}

.footer1{
   
    grid-area: text;
    
}
.footer2{
    
    grid-area: text1;
 
}
.footer3{
    
    grid-area: text2;
}
.footer4{
   
    grid-area: text3;
}
.footer5{
    
    grid-area: text4;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #black);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 5px solid black;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #black;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #black;
  border: solid 5px;
}

h2{
	font-family:Jazz LET, fantasy
}
